In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [5]:
df = pd.read_csv('food_consumption.csv')
df.head()

   Unnamed: 0    country food_category  consumption  co2_emission
0           1  Argentina          pork        10.51         37.20
1           2  Argentina       poultry        38.66         41.53
2           3  Argentina          beef        55.48       1712.00
3           4  Argentina     lamb_goat         1.56         54.63
4           5  Argentina          fish         4.36          6.96

In [7]:
df

      Unnamed: 0     country food_category  consumption  co2_emission
0              1   Argentina          pork        10.51         37.20
1              2   Argentina       poultry        38.66         41.53
2              3   Argentina          beef        55.48       1712.00
3              4   Argentina     lamb_goat         1.56         54.63
4              5   Argentina          fish         4.36          6.96
...          ...         ...           ...          ...           ...
1425        1426  Bangladesh         dairy        21.91         31.21
1426        1427  Bangladesh         wheat        17.47          3.33
1427        1428  Bangladesh          rice       171.73        219.76
1428        1429  Bangladesh      soybeans         0.61          0.27
1429        1430  Bangladesh          nuts         0.72          1.27

[1430 rows x 5 columns]

In [17]:
# Filter for beef consumption in Argentina and Bangladesh
argentina_beef = df[(df['country'] == 'Argentina') & (df['food_category'] == 'beef')]['consumption']
bangladesh_beef = df[(df['country'] == 'Bangladesh') & (df['food_category'] == 'beef')]['consumption']

print("Argentina Beef Consumption:\n", argentina_beef.describe())
print("Argentina beef consumption:", argentina_beef.values)
print("\n")
print("Bangladesh Beef Consumption:\n", bangladesh_beef.describe())
print("Bangladesh beef consumption:", bangladesh_beef.values)

Argentina Beef Consumption:
 count     1.00
mean     55.48
std        NaN
min      55.48
25%      55.48
50%      55.48
75%      55.48
max      55.48
Name: consumption, dtype: float64
Argentina beef consumption: [55.48]


Bangladesh Beef Consumption:
 count    1.00
mean     1.28
std       NaN
min      1.28
25%      1.28
50%      1.28
75%      1.28
max      1.28
Name: consumption, dtype: float64
Bangladesh beef consumption: [1.28]

In [ ]:
print("Argentina beef consumption:", argentina_beef.values)
print("Bangladesh beef consumption:", bangladesh_beef.values)

Argentina beef consumption: [55.48]
Bangladesh beef consumption: [1.28]

In [29]:
# Perform Independent T-Test
# Since we have only one value for each country, we will use a small standard deviation to avoid division by zero.
# In a real scenario, we would need more data points to perform a valid t-test.

t_stat, p_value = stats.ttest_ind_from_stats(
    mean1=argentina_beef, std1=0.1, nobs1=1,
    mean2=bangladesh_beef, std2=0.1, nobs2=1,
    equal_var=False
)
print(f"T-statistic: {t_stat}, P-value: {p_value}")

T-statistic: [383.2518754], P-value: [nan]

In [ ]:
# Two-sample t-test
t_stat, p_value = stats.ttest_ind(argentina_beef, bangladesh_beef, equal_var=False)

print("\nT-statistic:", t_stat)
print("p-value:", p_value)

T-statistic: nan
p-value: nan

In [23]:
# Interpretation
if p_value < 0.05:
    print("Reject Null Hypothesis â†’ Beef consumption is significantly different between Argentina and Bangladesh.")
else:
    print("Fail to Reject Null Hypothesis â†’ No significant difference in beef consumption.")
    # Report the p-value
    print("p-value:", p_value)

Fail to Reject Null Hypothesis â†’ No significant difference in beef consumption.
p-value: nan